!!! 5
%html(lang="en-US")
  %head
    %title Martin Valencias Portfolio
    %meta(charset="UTF-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
    %meta(http-equiv="X-UA-Compatible" content="IE=edge")
    / %link{:type => "image/png", :href => asset_path("logo.png"), :rel => "shortcut icon"}

    %style{:media => "print", :type => "text/css"}
      :cdata
        \.dontprint
        { display: none; }

    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag "application", 'data-turbolinks-track': 'reload'


  %body
    = render 'shared/messages'

    = yield
  %footer
    / = render 'shared/footer'
